@media all and (max-width: 600px) {
  div.home-btn-container {
    flex-direction: column;
  }
}
.home-btn-container ul li {
  background-color: #ffb3003c;
  transition: all 0.5s ease-in-out;
}

.home-btn-container ul li:hover {
  background-color: #ffb400;
  cursor: pointer;
}
